.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.cursos-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 15px;
}

.curso-item {
  background: #222;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.curso-item:hover {
  transform: scale(1.05);
}

.curso-content h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.curso-content p {
  color: #aaa;
  margin: 5px 0;
}

.curso-content strong {
  color: #ddd;
}
